body {
    background-image: url("car-parks.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.header{
	color: white;
	background-color: blue;
	padding: 15px;
	text-align: center;
	font-family: sans-serif, arial;
}
.left_lot_container{
	position: relative;
	width:32%;
	float: left;
	padding: 5px;
	margin-left: 15px;
	margin-right: 5px;
	background-color: yellow;
	display: grid;
	text-align: center;
}
.right_lot_container{
	position: relative;
	width:32%;
	float: left;
	padding: 5px;
	margin-right: 5px;
	background-color: purple;
	display: grid;
	text-align: center;
}
.sign_up{
	position: relative;
	width: 32%;
	float:left;
	padding: 5px;
	margin-right: 5px;	
	text-align: center;
	background-color: blue;
}
.taken{
	background-color: red;
}
.empty{
	background-color: green;
}
.spot{
	border: solid black 1px;
}